<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCttwNIz_BljBRj11NMOelWuPeIgooitCI</string>
	<key>GCM_SENDER_ID</key>
	<string>410944411117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ebosstuonglong</string>
	<key>PROJECT_ID</key>
	<string>boss-tuonglong</string>
	<key>STORAGE_BUCKET</key>
	<string>boss-tuonglong.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410944411117:ios:0348e9f44b7b0ee96543e4</string>
</dict>
</plist>